
.reservation-page {
  min-height: 100vh;
  padding: 80px 20px;
  background: #062f2f;
  color: #f5ead7;
}

/* HEADER */

.reservation-header {
  text-align: center;
  margin-bottom: 45px;
}

.reservation-header p {
  margin-bottom: 10px;
  color: #ff9d32;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
}

.reservation-header h1 {
  margin: 0;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 44px;
  font-weight: 600;
}

.reservation-header span {
  display: block;
  margin-top: 12px;
  color: #cbd5d0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}


/* FORM CARD */

.reservation-card {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 40px;

  background: #083838;

  border: 1px solid rgba(245, 234, 215, 0.12);
  border-radius: 12px;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);

  box-sizing: border-box;
}

.reservation-card h2 {
  margin: 0 0 30px;

  color: #f5ead7;

  font-family: Georgia, "Times New Roman", serif;
  font-size: 25px;

  border-left: 3px solid #ff9d32;
  padding-left: 12px;
}


/* FORM GRID */

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  color: #f5ead7;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 13px 15px;

  box-sizing: border-box;

  background: #062f2f;

  border: 1px solid rgba(245, 234, 215, 0.18);
  border-radius: 6px;

  color: #f5ead7;

  outline: none;

  font-size: 14px;

  transition: 0.3s;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #78918d;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #ff9d32;
  box-shadow: 0 0 0 2px rgba(255, 157, 50, 0.08);
}


/* SPECIAL REQUEST */

.full-width {
  margin-top: 25px;
}

.form-group textarea {
  min-height: 100px;
  resize: vertical;
}


/* BUTTON */

.confirm-section {
  margin-top: 35px;
  text-align: center;
}

.confirm-btn {
  padding: 14px 32px;

  border: none;
  border-radius: 6px;

  background: #ff9d32;
  color: #172b26;

  font-size: 13px;
  font-weight: 700;

  cursor: pointer;

  box-shadow:
    0 0 10px rgba(255, 157, 50, 0.45),
    0 0 25px rgba(255, 157, 50, 0.18);

  transition: 0.3s;
}

.confirm-btn:hover {
  background: #ffb45c;
  transform: translateY(-2px);
}


/* RESPONSIVE */

@media (max-width: 700px) {

  .reservation-page {
    padding: 55px 20px;
  }

  .reservation-header h1 {
    font-size: 34px;
  }

  .reservation-card {
    padding: 25px;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }
}